@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*font-family: 'Roboto', sans-serif;*/

/* #1F2532 - azul escuro

#4B8FE3 - azul claro

#EDEDED - cinza */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #1F2532;
    color: #EDEDED;
    padding: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

.menu {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.linkPrincipal:hover {
    text-decoration: underline;
}

.conteudoPerfil {
    padding: 10px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 30px;
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.user {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
}

#perfilImgagem {
    width: 3%;
    height: auto;
}

.user a {
    font-size: large;
    text-decoration: none;
    color: black;
}

.user a:hover {
    text-decoration: underline;
}

main {
    margin-top: 0;
    width: 100%;
}

.posts {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.principal {
    text-align: center;
    padding: 5px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 0 5px -0.5px rgba(0, 0, 0, 0.555);
}

.principal h1 {
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
}

section.section {
    padding: 7px;
    text-align: left;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.473);
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.section p {
    font-family: 'Roboto', sans-serif;
}

section.section:hover {
    cursor: pointer;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.checked {
    color: orange;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.autor {
    font-size: 0.8rem;
}

.autor:hover {
    text-decoration: underline;
}

.grupos {
    padding-top: 2px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detalhesGrupo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.infoGrupo {
    display: flex;
    flex-direction: column;
}

.infoGrupo h2 {
    max-width: 15rem;
}

.infoGrupo h2,
p {
    margin-bottom: 0;
}

.participantes {
    font-size: 0.9rem;
    color: #2b6ac7;
    text-decoration: underline;
}

.entrar {
    background-color: #1a9e60;
    margin-left: auto;
    margin-right: auto
}

.popup {
    border-radius: 0;
    background-color: #32bb5b;
    --bs-btn-border-color: #3cb97f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: var(--bs-btn-border-color);
    --bs-btn-hover-bg: #38a559;
    width: fit-content;
}

.popup a {
    text-decoration: underline;
    color: #fff;
    font-size: 1rem;
}


footer {
    margin-top: 10px;
    list-style: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

footer p,
li {
    font-family: 'Roboto', sans-serif;
}

.direitos {
    padding: 20px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    text-align: center;
}

.card-grupo {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 2px 5px black;
    border-radius: 4px;
    gap: 1px;
    margin-top: 10px;
}

.card-grupo h2 {
    font-size: 1.3rem;
}

@media only screen and (max-width: 428px) {
    header {
        font-size: 18px;
        padding: 10px;
    }

    nav {
        padding: 5px;
    }

    .principal {
        width: 90%;
        padding: 5px;
        margin: 10px auto;
    }

    .section {
        margin-bottom: 10px;
    }
}

.esquerda {
    width: fit-content;
}

.central {
    width: 1rem;
    flex: 1;
}

.direita {
    width: fit-content;
    position: absolute;
    right: 0;
}

